body {
    background-color: #EDEDED;
}

/* Navbar Content */
#navbar-content {
    margin-top: 2rem;
}

#navbarNavDropdown {
    font-size: 16pt;
}

#logo {
    width: 6rem;
    height: 6rem;
}

.nav-link {
    padding-top: 1.5rem;
    /* text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 1pt; */
    color: black;
}

hr {
    margin: 0rem 2rem;
}