body {
    /* background-color: #F6F6F2; */
    /* background-color: #DED1BD; */
    /* background-color: #EBE8E7; */
    /* background-color: #161B40; */
    /* background-color: #082340; */
    /* background-color: #363538; */
    /* background-color: #e7e9f0; */
    /* background-color: #D6D6D6; */
    /* background-color: #d2d3d3; */
    /* background-color: #F3F3F3; */
    background-color: #EDEDED;
    /* background-image: url("../assets/imgs/background5.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
}

/* Intro text */
h1 {
    margin: 1.5rem 0rem 2rem 0rem;
    font-size: 40pt;
}

#intro-content {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 17pt;
    text-align: center;
    color: black;
}


/* Navbar Content */
#navbar-content {
    margin-top: 2rem;
}

#navbarNavDropdown {
    font-size: 16pt;
}

#logo {
    width: 6rem;
    height: 6rem;
}

.nav-link {
    padding-top: 1.5rem;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 1pt;
    color: black;
}




/* Hexagon Content */
.hexagon {
    position: relative;
    width: 200px; 
    height: 115.47px;
    margin: 57.74px 0;
    background-size: auto 224.0119px;
    background-position: center;
    box-shadow: 0 0 20px rgba(255,255,255,1);
    border-left: solid 3px #ffffff;
    border-right: solid 3px #ffffff;
    margin-right: auto;
    margin-left: auto;
}

#hexagon-1 {
    background-image: url("../assets/imgs/mysql-logo.png");
}

#hexagon-2 {
    background-image: url("../assets/imgs/js-logo.png");
}

#hexagon-3 {
    background-image: url("../assets/imgs/nodejs-logo.png");
}

#hexagon-4 {
    background-image: url("../assets/imgs/html-logo.png");
}

#hexagon-5 {
    background-image: url("../assets/imgs/mongodb-logo.jpg");
}

#hexagon-6 {
    background-image: url("../assets/imgs/react-logo.jpg");
}

#hexagon-7 {
    background-image: url("../assets/imgs/css-logo.png");
}

.hexTop,
.hexBottom {
    position: absolute;
    z-index: 1;
    width: 141.42px;
    height: 141.42px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 26.29px;
    box-shadow: 0 0 20px rgba(255,255,255,1);
}
  
/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
    content: "";
    position: absolute;
    width: 194.0000px;
    height: 112.00595222278741px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-56.0030px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-56.0030px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-56.0030px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}
  
.hexTop {
    top: -70.7107px;
    border-top: solid 4.2426px #ffffff;
    border-right: solid 4.2426px #ffffff;
}
  
.hexTop:after {
    background-position: center top;
}
  
.hexBottom {
    bottom: -70.7107px;
    border-bottom: solid 4.2426px #ffffff;
    border-left: solid 4.2426px #ffffff;
}
  
.hexBottom:after {
    background-position: center bottom;
}
  
.hexagon:after {
    content: "";
    position: absolute;
    top: 1.7321px;
    left: 0;
    width: 194.0000px;
    height: 112.0060px;
    z-index: 2;
    background: inherit;
}

.bottom-row-hex {
    margin-top: 1.5rem;
}

.outer-bottom-left {
    margin-right: 0rem;
}

.outer-bottom-right {
    margin-left: 0rem;
}





