/* Nav Bar */
.navbar-brand {
    font-size: 20pt;
    font-family: monospace;
}

/* Portfolio Card */
.card {
    margin-top: 80px;
}

.card-header {
    font-size: 30pt;
    background-color: rgb(182, 200, 218);
}

.card-body img {
    width: 350px;
    height: 350px;
    margin: 10px;
}